<h1 align="center">"This is really helpful"</h1>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("/assets/mvc.png", alt: "mvc", height: '600', width: '800') %>